.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.operandContainer {
    display: flex;
    gap: 2rem;
    background-color: gray;
    padding: 1rem;
}

.operatorContainer {
    display: flex;
    gap: 2rem;
    background-color: rgb(18, 18, 18);
    padding: 1rem;
    margin-top: 5rem;
}

.draggableArea {
    min-height: calc(100px + 2rem);
    display: flex;
    align-items: center;
    gap: 2rem;
    background-color: rgb(151, 151, 151);
    padding: 1rem;
    margin-top: 5rem;
}

button {
    display: block;
    padding: 1rem;
    margin: 2rem auto;
    background-color: rgb(58, 6, 6);
    color: #fff;
    width: 200px;
    border-radius: 1rem;
}

.dragging {
    opacity: 0.6;
}

.close {
    position: absolute;
    top: 5px;
    right: 8px;
    width: 0.8rem;
    height: 0.8rem;
    background: url(./close.png);
    background-size: contain;
    background-size: 0.8rem 0.8rem;
    background-repeat: no-repeat;
    cursor: pointer;
}

.draggable {
    cursor: move;
}
